<body>
    <div class="container mx-auto mt-8">
        <div class="right-0">
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Add File</button>
        </div>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 border-b">Title</th>
                    <th class="py-2 px-4 border-b">Description</th>
                    <th class="py-2 px-4 border-b">File Type</th>
                    <th class="py-2 px-4 border-b">URL</th>
                    <th class="py-2 px-4 border-b">Created</th>
                    <th class="py-2 px-4 border-b">Updated</th>
                    <th class="py-2 px-4 border-b">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="py-2 px-4 border-b">Sample Title 1</td>
                    <td class="py-2 px-4 border-b">Sample Description 1</td>
                    <td class="py-2 px-4 border-b">MP3</td>
                    <td class="py-2 px-4 border-b"><a href="#" class="text-blue-500">Link</a></td>
                    <td class="py-2 px-4 border-b">2023-01-01</td>
                    <td class="py-2 px-4 border-b">2023-01-02</td>
                    <td class="py-2 px-4 border-b"><a href="#" class="text-blue-500">Edit</a></td>
                </tr>
                <tr>
                    <td class="py-2 px-4 border-b">Sample Title 2</td>
                    <td class="py-2 px-4 border-b">Sample Description 2</td>
                    <td class="py-2 px-4 border-b">WAV</td>
                    <td class="py-2 px-4 border-b"><a href="#" class="text-blue-500">Link</a></td>
                    <td class="py-2 px-4 border-b">2023-02-01</td>
                    <td class="py-2 px-4 border-b">2023-02-02</td>
                    <td class="py-2 px-4 border-b"><a href="#" class="text-blue-500">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>